{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<main class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1>{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set" novalidate>
                {% csrf_token %}
                {{ form|crispy}}
                <input class="btn btn-info" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
